<!DOCTYPE html>
<html>

    <head>
        <title>Register User</title>
    </head>
    <body>
        <form th:action="@{/}" th:object="${user}" method="get">
            <div>
                <label>Username</label>
                <input type="text" th:field="*{username}" />
            </div>
            <div>
                <label>Password</label>
                <input type="text" th:field="*{password}" />
            </div>
                <button type="submit">Login</button>
            <div>
        </form>
    </body>
</html>
