<html>
    <head>
        <title>Create Team</title>
        <h1>Create Team</h1>
    </head>
    <body>
        <div>
            <form th:action="@{/home}" method="get">
                <button type="submit">Homepage</button>
            </form>
        </div>
        <div>
            <h1 th:if="${error}" th:text="${error}">ERROR</h1>
        </div>
        <form th:action="@{/team/create}" th:object="${team}" method="post">
            <div>
                <input type="text" th:field="*{name}" placeholder="Team name" />
                <input
                    type="text"
                    th:field="*{imageUrl}"
                    placeholder="Image URL"
                />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>
