<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <script type="text/javascript">
        function dropdown_options() {
            console.debug("DEFINED\n");
            var dropdown = document.getElementById("option_list");
            var option = dropdown.options[dropdown.selectedIndex].value;

            if ((option === "Golo")
                || (option === "Cartão Amarelo")
                || (option === "Cartão Vermelho")
            ) {
                document.getElementById("player_option").style.visibility = "visible";
            } else {
                player_option = document.getElementById("player_option");
                player_option.style.visibility = "hidden";
                player_option.selectedIndex = 0;
            }
            
        }
    </script>

    <div layout:fragment="header">
        <title>Create event</title>
    </div>
</head>

<body>
    <div layout:fragment="content">

        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Erro a criar evento!
        </div>

        <form th:action="@{/event/create}" th:object="${event}" method="post">
            <div>
                <select class="form-select form-select-lg mb-2" th:field="*{game}">
                    <option value="">Select Game</option>
                    <option th:each="option : ${games}" th:value="${option.id}"
                        th:text="${option.teamA.name} + ' vs ' + ${option.teamB.name}"></option>
                </select>
            </div>
            <div>
                <select class="form-select form-select-lg mb-2" th:field="*{name}" id="option_list"
                    onchange="dropdown_options()">
                    <option value="">Select Event</option>
                    <option th:each="option : ${events}" th:value="${option}" th:text="${option}"></option>
                </select>
            </div>

            <div>
                <select class="form-select form-select-lg mb-2" style="visibility: hidden" id="game">
                    <option value="">Select Team</option>
                    <option th:text="A">Equipa 1</option>
                    <option th:text="B">Eqipa 2</option>
                </select>
            </div>

            <div>
                <select class="form-select form-select-lg mb-2" th:field="*{game}" style="visibility: hidden"
                    id="player_option">
                    <option value="">Select Player</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-outline-primary"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Criar evento</button>
            </div>
        </form>

    </div>

</body>

</html>