<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <div layout:fragment="head">
        <title>Game</title>
    </div>
</head>

<body>
    <div layout:fragment="content">
        <center>
            <h1 th:text="${game.teamA.name} + ' - ' + ${game.teamB.name}">Teams</h1>
            <h2 th:text="${game.teamAScore} + ' - ' + ${game.teamBScore}">Score</h2>
            <h3 th:text="'Localização: ' + ${game.location}">Local</h3>
            <h3 th:text="'Inicio: ' + ${#temporals.format(game.startTime, 'dd-MM-yyyy HH:mm')}">Time</h3>

            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/event/create}" method="get">
                    <button type="submit">Add event</button>
                </form>
            </div>
            <h2>Lista de eventos</h1>
                <div class="table-responsive-sm" style="height:600px;overflow:auto;">
                    <table class="table sortable table-active table-responsive">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Evento</th>
                                <th>Equipa</th>
                                <th>Jogador</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item" th:each="option : ${events}">
                                <td th:text="${#temporals.format(option.created_at, 'dd-MM-yyyy HH:mm')}"></td>
                                <td th:text="${option.name}"></td>
                                <td th:text="${option.team?.name}"></td>
                                <td th:text="${option.player?.name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </center>
    </div>
</body>

</html>