<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title>ScoreDei</title>
</head>

<body>
    <div layout:fragment="content">
        <h3 th:text="${#lists.isEmpty(games)} ? 'Não há jogos a decorrer' : 'Jogos a decorrer' "></h3>
        <table class="table table-sm">
            <thead>
                <tr th:each="game: ${games}">
                    <td th:text="${game.teamA.name} + ' - ' + ${game.teamB.name}">Jogo</td>
                    <td>
                        <a th:href="@{'/game/'+${game.id}}">
                            <button type="button" class="btn btn-outline-secondary">Selecionar</button>
                        </a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>

</html>