<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf8" />
    </head>
    <body>
        <h1 th:text="'Welcome to scoreDei ' + *{username}"></h1>
        <div>
            <h2>Auth</h2>
            <form th:action="@{/auth/login}" method="get">
                <button type="submit">Login</button>
            </form>
            <form th:action="@{/auth/register}" method="get">
                <button type="submit">Register</button>
            </form>
        </div>
        <div th:if="${username != ''}">
            <form th:action="@{/auth/logout}" method="get">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div>
            <h2>Team</h2>
            <form th:action="@{/team/create}" method="get">
                <button type="submit">Create</button>
            </form>
            <form th:action="@{/team/show/all}" method="get">
                <button type="submit">Show all</button>
            </form>
        </div>
        <div>
            <h2>Player</h2>
            <form th:action="@{/player/create}" method="get">
                <button type="submit">Create</button>
            </form>
        </div>
    </body>
</html>
