<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <div layout:fragment="head">
        <!-- Head content here -->
    </div>

    <link rel="icon" href="https://cdn.pixabay.com/photo/2013/07/13/10/51/football-157930_960_720.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <meta charset="utf-8" />
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">ScoreDei</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')">
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Fill</span>
                            </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a th:href="@{/fill}" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Random</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/fill-API}" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Sports
                                            API</span></a>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/event/create}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Adicionar
                                    evento</span></a>
                        </li>
                        <li>
                            <a th:href="@{/team/all}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Equipas</span></a>
                        </li>
                        <li>
                            <a th:href="@{/statistics/}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span
                                    class="ms-1 d-none d-sm-inline">Estatísticas</span></a>
                        </li>
                        <!-- <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">TODO
                                    2</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        2</a>
                                </li>
                            </ul>
                        </li> -->
                        <li sec:authorize="hasAuthority('ADMIN')">
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Admin panel</span>
                            </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a th:href="@{/team/create}" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Create Team</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/player/create}" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Create Player</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/game/create}" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Create Game</span></a>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/register}" class="nav-link px-0"> <span class="d-none d-sm-inline">Register
                                    user</span></a>
                        </li>
                    </ul>
                    <hr>
                    <div sec:authorize="isAuthenticated()" class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://www.pngitem.com/pimgs/m/24-248366_profile-clipart-generic-user-generic-profile-picture-gender.png"
                                alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span sec:authentication="name" class="d-none d-sm-inline mx-1">username</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <!-- <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li> -->
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="dropdown-item">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <ul>
                            <a th:href="@{/login}">
                                <button type="button" class="btn btn-outline-primary">Login</button>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div layout:fragment="content" class="col py-3">
                <!-- Content here-->

            </div>
        </div>
    </div>
</body>

</html>