<html>
    <head> </head>
    <body>
        <form th:action="@{/login}" th:object="${user}" method="post">
            <div>
                <input
                    type="text"
                    th:field="*{username}"
                    placeholder="username"
                />
            </div>
            <div>
                <input
                    type="text"
                    th:field="*{password}"
                    placeholder="password"
                />
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>
    </body>
</html>
