<html>
    <head> 
        <title>Login</title>
        <meta charset="utf8" />
    </head>
    <body>
        <div>
            <form th:action="@{/home}" method="get">
                <button type="submit">Homepage</button>
            </form>
        </div>
        <h1>Login</h1>
        <form th:action="@{/auth/login}" th:object="${user}" method="post">
            <div>
                <input
                    type="text"
                    th:field="*{username}"
                    placeholder="username"
                />
            </div>
            <div>
                <input
                    type="text"
                    th:field="*{password}"
                    placeholder="password"
                />
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>
    </body>
</html>
