<html>
    <head>
        <title>Register</title>
        <meta charset="utf8" />
    </head>
    <body>
        <h1>Register</h1>

        <div>
            <h1 th:if="${error}" th:text="${error}">ERROR</h1>
        </div>

        <form th:action="@{/auth/register}" th:object="${user}" method="post">
            <div>
                <input
                    type="text"
                    th:field="*{username}"
                    placeholder="Username"
                />
                <input
                    type="text"
                    th:field="*{password}"
                    placeholder="Password"
                />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>
