<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <div layout:fragment="head">
        <title>Team</title>
    </div>
</head>

<body>
    <div layout:fragment="content">
        <center>
            <h1 th:text="${team.name}"></h1>
            <img th:src="${team.imageUrl}" width="10%" height="10%">
            <h2>Jogadores</h2>
            <div th:each="option : ${players}">
                <h4 th:text="${option.name}">ceas</h4>
            </div>
            <h2>Estatísticas</h2>
            <!-- TODO: Cenas para estatisticas -->
            <!-- <div th:each="option : ${statistics}">
                <h4 th:text="${option.name}">cenas</h4>
            </div> -->
        </center>
    </div>

</html>